/*!
 * # Semantic UI 2.2.13 - Step
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Plural
*******************************/

.ui.steps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 1em 0em;
  background: '';
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1.14285714em;
  border-radius: 4px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

/* First Steps */
.ui.steps:first-child {
  margin-top: 0em;
}

/* Last Steps */
.ui.steps:last-child {
  margin-bottom: 0em;
}


/*******************************
           Singular
*******************************/

.ui.steps .step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0em 0em;
  padding: 1.14285714em 2em;
  background: #FFFFFF;
  color: #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0em;
  border: none;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
}

/* Arrow */
.ui.steps .step:after {
  display: none;
  position: absolute;
  z-index: 2;
  content: '';
  top: 50%;
  right: 0%;
  border: medium none;
  background-color: #FFFFFF;
  width: 1.14285714em;
  height: 1.14285714em;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-width: 0px 1px 1px 0px;
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
          transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

/* First Step */
.ui.steps .step:first-child {
  padding-left: 2em;
  border-radius: 4px 0em 0em 4px;
}

/* Last Step */
.ui.steps .step:last-child {
  border-radius: 0em 4px 4px 0em;
}
.ui.steps .step:last-child {
  border-right: none;
  margin-right: 0em;
}

/* Only Step */
.ui.steps .step:only-child {
  border-radius: 4px;
}


/*******************************
            Content
*******************************/


/* Title */
.ui.steps .step .title {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.14285714em;
  font-weight: bold;
}
.ui.steps .step > .title {
  width: 100%;
}

/* Description */
.ui.steps .step .description {
  font-weight: normal;
  font-size: 0.92857143em;
  color: #212121;
}
.ui.steps .step > .description {
  width: 100%;
}
.ui.steps .step .title ~ .description {
  margin-top: 0.25em;
}

/* Icon */
.ui.steps .step > .icon {
  line-height: 1;
  font-size: 2.5em;
  margin: 0em 1rem 0em 0em;
}
.ui.steps .step > .icon,
.ui.steps .step > .icon ~ .content {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: middle;
      align-self: middle;
}
.ui.steps .step > .icon ~ .content {
  -webkit-box-flex: 1 0 auto;
      -ms-flex-positive: 1 0 auto;
          flex-grow: 1 0 auto;
}

/* Horizontal Icon */
.ui.steps:not(.vertical) .step > .icon {
  width: auto;
}

/* Link */
.ui.steps .link.step,
.ui.steps a.step {
  cursor: pointer;
}


/*******************************
            Types
*******************************/


/*--------------
     Ordered
---------------*/

.ui.ordered.steps {
  counter-reset: ordered;
}
.ui.ordered.steps .step:before {
  display: block;
  position: static;
  text-align: center;
  content: counters(ordered, ".");
  -ms-flex-item-align: middle;
      align-self: middle;
  margin-right: 1rem;
  font-size: 2.5em;
  counter-increment: ordered;
  font-family: inherit;
  font-weight: bold;
}
.ui.ordered.steps .step > * {
  display: block;
  -ms-flex-item-align: middle;
      align-self: middle;
}

/*--------------
    Vertical
---------------*/

.ui.vertical.steps {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
}
.ui.vertical.steps .step {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0em;
  padding: 1.14285714em 2em;
  border-right: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.vertical.steps .step:first-child {
  padding: 1.14285714em 2em;
  border-radius: 4px 4px 0em 0em;
}
.ui.vertical.steps .step:last-child {
  border-bottom: none;
  border-radius: 0em 0em 4px 4px;
}
.ui.vertical.steps .step:only-child {
  border-radius: 4px;
}

/* Arrow */
.ui.vertical.steps .step:after {
  display: none;
}
.ui.vertical.steps .step:after {
  top: 50%;
  right: 0%;
  border-width: 0px 1px 1px 0px;
}
.ui.vertical.steps .step:after {
  display: none;
}
.ui.vertical.steps .active.step:after {
  display: block;
}
.ui.vertical.steps .step:last-child:after {
  display: none;
}
.ui.vertical.steps .active.step:last-child:after {
  display: block;
}

/*---------------
    Responsive
----------------*/


/* Mobile (Default) */
@media only screen and (max-width: 767px) {
  .ui.steps:not(.unstackable) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ui.steps:not(.unstackable) .step {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0em;
    padding: 1.14285714em 2em;
  }
  .ui.steps:not(.unstackable) .step:first-child {
    padding: 1.14285714em 2em;
    border-radius: 4px 4px 0em 0em;
  }
  .ui.steps:not(.unstackable) .step:last-child {
    border-radius: 0em 0em 4px 4px;
  }
  
/* Arrow */
  .ui.steps:not(.unstackable) .step:after {
    display: none !important;
  }
  
/* Content */
  .ui.steps:not(.unstackable) .step .content {
    text-align: center;
  }
  
/* Icon */
  .ui.steps:not(.unstackable) .step > .icon,
  .ui.ordered.steps:not(.unstackable) .step:before {
    margin: 0em 0em 1rem 0em;
  }
}


/*******************************
             States
*******************************/


/* Link Hover */
.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
  background: #FAFAFA;
  color: rgba(0, 0, 0, 0.8);
}

/* Link Down */
.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
  background: #F0F0F0;
  color: rgba(0, 0, 0, 0.9);
}

/* Active */
.ui.steps .step.active {
  cursor: auto;
  background: #F0F0F0;
}
.ui.steps .step.active:after {
  background: #F0F0F0;
}
.ui.steps .step.active .title {
  color: #009FDA;
}
.ui.ordered.steps .step.active:before,
.ui.steps .active.step .icon {
  color: rgba(0, 0, 0, 0.85);
}

/* Active Arrow */
.ui.steps .step:after {
  display: block;
}
.ui.steps .active.step:after {
  display: block;
}
.ui.steps .step:last-child:after {
  display: none;
}
.ui.steps .active.step:last-child:after {
  display: none;
}

/* Active Hover */
.ui.steps .link.active.step:hover::after,
.ui.steps .link.active.step:hover,
.ui.steps a.active.step:hover::after,
.ui.steps a.active.step:hover {
  cursor: pointer;
  background: #DCDDDE;
  color: #212121;
}

/* Completed */
.ui.steps .step.completed > .icon:before,
.ui.ordered.steps .step.completed:before {
  color: #4CAF50;
}

/* Disabled */
.ui.steps .disabled.step {
  cursor: auto;
  background: #FFFFFF;
  pointer-events: none;
}
.ui.steps .disabled.step,
.ui.steps .disabled.step .title,
.ui.steps .disabled.step .description {
  color: rgba(40, 40, 40, 0.3);
}
.ui.steps .disabled.step:after {
  background: #FFFFFF;
}


/*******************************
           Variations
*******************************/


/*--------------
   Stackable
---------------*/


/* Tablet Or Below */
@media only screen and (max-width: 991px) {
  .ui[class*="tablet stackable"].steps {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
/* Steps */
  .ui[class*="tablet stackable"].steps .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0em;
    padding: 1.14285714em 2em;
  }
  .ui[class*="tablet stackable"].steps .step:first-child {
    padding: 1.14285714em 2em;
    border-radius: 4px 4px 0em 0em;
  }
  .ui[class*="tablet stackable"].steps .step:last-child {
    border-radius: 0em 0em 4px 4px;
  }
  
/* Arrow */
  .ui[class*="tablet stackable"].steps .step:after {
    display: none !important;
  }
  
/* Content */
  .ui[class*="tablet stackable"].steps .step .content {
    text-align: center;
  }
  
/* Icon */
  .ui[class*="tablet stackable"].steps .step > .icon,
  .ui[class*="tablet stackable"].ordered.steps .step:before {
    margin: 0em 0em 1rem 0em;
  }
}

/*--------------
      Fluid
---------------*/


/* Fluid */
.ui.fluid.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*--------------
    Attached
---------------*/


/* Top */
.ui.attached.steps {
  width: calc(100% +  2px ) !important;
  margin: 0em -1px 0;
  max-width: calc(100% +  2px );
  border-radius: 4px 4px 0em 0em;
}
.ui.attached.steps .step:first-child {
  border-radius: 4px 0em 0em 0em;
}
.ui.attached.steps .step:last-child {
  border-radius: 0em 4px 0em 0em;
}

/* Bottom */
.ui.bottom.attached.steps {
  margin: 0 -1px 0em;
  border-radius: 0em 0em 4px 4px;
}
.ui.bottom.attached.steps .step:first-child {
  border-radius: 0em 0em 0em 4px;
}
.ui.bottom.attached.steps .step:last-child {
  border-radius: 0em 0em 4px 0em;
}

/*-------------------
    Evenly Divided
--------------------*/

.ui.one.steps,
.ui.two.steps,
.ui.three.steps,
.ui.four.steps,
.ui.five.steps,
.ui.six.steps,
.ui.seven.steps,
.ui.eight.steps {
  width: 100%;
}
.ui.one.steps > .step,
.ui.two.steps > .step,
.ui.three.steps > .step,
.ui.four.steps > .step,
.ui.five.steps > .step,
.ui.six.steps > .step,
.ui.seven.steps > .step,
.ui.eight.steps > .step {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.ui.one.steps > .step {
  width: 100%;
}
.ui.two.steps > .step {
  width: 50%;
}
.ui.three.steps > .step {
  width: 33.333%;
}
.ui.four.steps > .step {
  width: 25%;
}
.ui.five.steps > .step {
  width: 20%;
}
.ui.six.steps > .step {
  width: 16.666%;
}
.ui.seven.steps > .step {
  width: 14.285%;
}
.ui.eight.steps > .step {
  width: 12.500%;
}

/*-------------------
       Sizes
--------------------*/

.ui.mini.steps .step,
.ui.mini.step {
  font-size: 0.78571429rem;
}
.ui.tiny.steps .step,
.ui.tiny.step {
  font-size: 0.85714286rem;
}
.ui.small.steps .step,
.ui.small.step {
  font-size: 0.92857143rem;
}
.ui.steps .step,
.ui.step {
  font-size: 1rem;
}
.ui.large.steps .step,
.ui.large.step {
  font-size: 1.14285714rem;
}
.ui.big.steps .step,
.ui.big.step {
  font-size: 1.28571429rem;
}
.ui.huge.steps .step,
.ui.huge.step {
  font-size: 1.42857143rem;
}
.ui.massive.steps .step,
.ui.massive.step {
  font-size: 1.71428571rem;
}


/*******************************
         Site Overrides
*******************************/

